
<div class="row">
  <div class="col-sm-3"> <h4>My users</h4></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-success" (click)="createAdmin()" style="float: right">Create Admin</button>
  </div>
</div>
<br>


<div class="col-sm-12 listDetailsBox">
<!--<hr>-->
  <table class="table table-hover">
    <thead>
    <tr>
      <!-- <th class="greyTd">#</th> -->
      <th class="greyTd">User Name</th>
      <th class="greyTd">Email</th>
      <th class="greyTd">Permissions</th>
      <th class="greyTd">Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="users?.length===0">
      No Classes's listed Yet!.
    </tr>

    <tr *ngFor="let item of users; let i=index">
      <!-- <td>{{i+1}}</td> -->
      <td>{{item.UserName ? item.UserName : '--'}}</td>
      <td>{{item?.Email ? item?.Email : '--'}}</td>
      <td>{{item.roles ? item.roles : '--'}}</td>
      <td>{{item.CreatedAt ? item.CreatedAt : '--'}}</td> 
      <td>
       <img src="../../assets/images/delete.png" class="clsDelete" (click)="deleteUser(item,i);">&nbsp;&nbsp;
        <!-- <img src="../../assets/images/detail.png" class="clsDelete" (click)="viewClass(item,i);" style="cursor:pointer;"> -->
      </td>
    </tr>
    </tbody>
  </table>

</div>




 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <button type="button" class="close" (click)="close()">&times;</button> -->
      </div>

  <form class="form-signin card" [formGroup]="adminForm">

   <div class="row">
    <div class="col-sm-3">Admin Email<span class="mandatory_labl">*</span></div>
    <div class="col-sm-8">  <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="email"> </div>
  </div>

  <br>
  
   <div class="row">
    <div class="col-sm-3">Admin User Name<span class="mandatory_labl">*</span></div>
    <div class="col-sm-8">  <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="username"> </div>
  </div>

   <br>

   <div class="row">
    <div class="col-sm-3">
     Add Country <input type="checkbox" name="Add Country" (change)="addRole('Add Country')">
   </div>
   <div class="col-sm-3">
     Edit Country <input type="checkbox" name="Edit Country" (change)="addRole('Edit Country')">
   </div>
   <div class="col-sm-3">
     Delete Country <input type="checkbox" name="Delete Country" (change)="addRole('Delete Country')">
   </div>
   <div class="col-sm-3">
     Add Capital <input type="checkbox" name="Add Capital" (change)="addRole('Add Capital')">
   </div>
   <div class="col-sm-3">
     Edit Capital <input type="checkbox" name="Edit Capital" (change)="addRole('Edit Capital')">
   </div>
   <div class="col-sm-3">
     Delete Capital <input type="checkbox" name="Delete Capital" (change)="addRole('Delete Capital')">
   </div>
   </div>

   <p style="color: red;">&nbsp;&nbsp;Note* : Default password is : admin@123 for above email.</p>
   <br>
   </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveUser()">Save</button>
        </div>
      </div>
      
    </div>
  </div>






 <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="!updateButton">{{className}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <button type="button" class="close" (click)="close()">&times;</button> -->
      </div>

      <table class="table table-hover">
        <tr>
          <th>S.No</th>
          <th>Subject Name</th>
        </tr>

        <tr *ngFor="let item of classesSubjects;let i=index">
          <td>{{i+1}}</td>
          <td>{{item.subjectName}}</td>
        </tr>

        <tr *ngIf="!classesSubjects.length">
          No subject added
        </tr>

      </table>

      </div>
      
    </div>
  </div>