
<div class="col-sm-12 listDetailsBox">
  <div class="row mt-4 mycontracts"> <h4>My RFQ List</h4></div>
  <!-- <button type="button" class="btn btn-primary" (click)="createRfq()">Create RFQ</button> -->

<!--<hr>-->
  <table class="table table-hover">
    <thead>
    <tr>
       <th class="greyTd">Status</th>
      <th class="greyTd">RFQ. No#</th>
      <th class="greyTd">Buyer</th>
      <th class="greyTd">Responded By</th>
      <th class="greyTd">Responded On</th>
      <th class="greyTd">Qty</th>
      <!-- <th class="greyTd">Action</th> -->
      
    <!--   <th class="greyTd">RFQ. No</th>
      <th class="greyTd">Qty</th>
      <th class="greyTd">Value</th>
      <th class="greyTd">Created By</th>
      <th class="greyTd">CreatedOn</th>
      <th class="greyTd">Status</th>
      <th class="greyTd">Supplier</th>
      <th class="greyTd">UpdatedBy</th>
      <th class="greyTd">UpdatedOn</th> -->
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="rfqs?.length===0">
      No RFQ's listed Yet!.
    </tr>

    <tr *ngFor="let item of rfqs; let i=index">
      <td>{{item.status}}</td>
      <!-- <td>{{item.Record.rfqId}}.</td> -->
      <td><a [routerLink]="['/supplier/editRfq']" [queryParams]="{id: item.Key}">{{item.rfqId}}</a></td>
      <td>{{item.buyerName}}</td>
      <td>{{item.updatedBy ? item.updatedBy : '--'}}</td>
      <td>{{item.updatedOn ? item.updatedOn : '--'}}</td>
      <td>{{item.qty}}</td> 

     <!--  <td>{{item.Record.rfqId}}.</td>
      <td>{{item.Record.qty}}</td> 
      <td>{{item.Record.value}}</td> 
      <td>{{item.Record.buyerName}}</td>
      <td>{{item.Record.createdOn}}</td>
      <td>{{item.Record.status}}</td>
      <td>{{item.Record.supplierName}}</td> 
      <td>{{item.Record.updatedBy}}</td>
      <td>{{item.Record.updatedOn}}</td> -->



      <!-- <td class="blueTd"><a target="_blank" class="blueTd" href="https://ropsten.etherscan.io/tx/{{item?.txHash}}">{{item?.txHash.substr(0,30)+'...' ? item?.txHash.substr(0,30)+"..." : 'NA'}}</a> </td>
      <td>{{item?.blockChainName}}</td> -->

      <!-- <td class="successTd" *ngIf="item?.status==='Completed'">{{item?.status}}</td>
      <td class="pending" *ngIf="item?.status==='Pending'">{{item?.status}}</td> -->

      <td>
        <!--<span class="glyphicon glyphicon-menu-right"> </span>-->
        <a href="#">
          <!--<span class="glyphicon glyphicon-menu-right"></span>-->
        </a>
        <img src="../../assets/images/detail.png" class="clsDelete" (click)="viewRfq(item,i);">
      </td>
    </tr>
    </tbody>
  </table>

</div>