
<div class="row">
  <div class="col-sm-3"> <h4>My Board List</h4></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-success" (click)="createBoard()" style="float: right">Create Board</button>
  </div>
</div>
<br>


<div class="col-sm-12 listDetailsBox">
<!--<hr>-->
  <table class="table table-hover">
    <thead>
    <tr>
      <!-- <th class="greyTd">#</th> -->
      <th class="greyTd">Board Name</th>
      <th class="greyTd">Created By</th>
      <th class="greyTd">Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="board?.length===0">
      No Board's listed Yet!.
    </tr>

    <tr *ngFor="let item of board; let i=index">
      <!-- <td>{{i+1}}</td> -->
      <td>{{item.boardName ? item.boardName : '--'}}</td>
      <td>{{item.uploadedBy ? item.uploadedBy : '--'}}</td>
      <td>{{item.CreatedAt ? item.CreatedAt : '--'}}</td> 
      <td>
       <img src="../../assets/images/delete.png" class="clsDelete" (click)="deleteBoard(item,i);">&nbsp;&nbsp;
        <!-- <img src="../../assets/images/detail.png" class="clsDelete" (click)="editClass(item,i);"> -->
        <img src="../../assets/images/detail.png" class="clsDelete" (click)="viewBoard(item,i);" style="cursor:pointer;">
      </td>
    </tr>
    </tbody>
  </table>

</div>




 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="!updateButton">Add Board</h4>
        <h4 *ngIf="updateButton">Edit Board</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <button type="button" class="close" (click)="close()">&times;</button> -->
      </div>

  <form class="form-signin card" [formGroup]="boardForm">

   <div class="row">
    <div class="col-sm-3">Board Name<span class="mandatory_labl">*</span></div>
    <div class="col-sm-8">  <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="boardName"> </div>
  </div>

  <br>
  
   </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveBoard()" *ngIf="!updateButton">Save</button>
          <button type="button" class="btn btn-primary" (click)="updateBoard()" *ngIf="updateButton">Update</button>
        </div>
      </div>
      
    </div>
  </div>






 <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="!updateButton">{{className}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <button type="button" class="close" (click)="close()">&times;</button> -->
      </div>

      <table class="table table-hover">
        <tr>
          <th>S.No</th>
          <th>Subject Name</th>
        </tr>

        <tr *ngFor="let item of boardesSubjects;let i=index">
          <td>{{i+1}}</td>
          <td>{{item.subjectName}}</td>
        </tr>

        <tr *ngIf="!boardesSubjects.length">
          No subject added
        </tr>

      </table>

      </div>
      
    </div>
  </div>