
<div class="container" [formGroup]="createForm">
<hr>
<div class="row">
    <div class="col-sm-3"></div>
     <div class="col-sm-4"></div>
    <div class="col-sm-2"><a [routerLink]="['/buyer/rfq']">View RFQ's</a></div>
    <div class="col-sm-3"><button type="button" class="btn btn-primary" (click)="createRfq()">Update RFQ</button></div>
</div>
<hr>


<div class="col-sm-6">

  <div class="row">
    <div class="col-sm-4">RFQNo#</div>
    <div class="col-sm-8"> <input type="text" class="form-control mt-3" placeholder="RfqId" required="" autofocus="" formControlName="rfqId" disabled="true"></div>
  </div>

  <div class="row">
    <div class="col-sm-4">Vendor</div>
    <div class="col-sm-8">  <select formControlName="supplier" class="form-control mt-3" disabled="true">
        <option value="select" selected="selected">Select</option>
        <option value="{{item.id}}" *ngFor="let item of suppliers">{{item.username}}</option>
    </select></div>
  </div>

    <div class="row">
    <div class="col-sm-4">Currency</div>
    <div class="col-sm-8"> <select formControlName="currency" class="form-control mt-3">
        <option value="select" selected="selected">Select</option>
        <option value="{{item.name}}" *ngFor="let item of currencies">{{item.name}}</option>
    </select></div>
  </div>

   <div class="row">
    <div class="col-sm-4">Payment Terms</div>
    <div class="col-sm-8"> <select formControlName="paymentTerm" class="form-control mt-3">
        <option value="select" selected="selected">Select</option>
        <option value="{{item.name}}" *ngFor="let item of paymentTerms">{{item.name}}</option>
    </select></div>
  </div>

    <div class="row">
    <div class="col-sm-4">Delivery Terms</div>
    <div class="col-sm-8"> 
      <select formControlName="deliveryTerm" class="form-control mt-3">
        <option value="select" selected="selected">Select</option>
        <option value="{{item.name}}" *ngFor="let item of deliveryTerms">{{item.name}}</option>
    </select></div>
  </div>

    <div class="row">
    <div class="col-sm-4">Shipment Terms</div>
    <div class="col-sm-8">   <select formControlName="shipmentTerm" class="form-control mt-3">
        <option value="select" selected="selected">Select</option>
        <option value="{{item.name}}" *ngFor="let item of shipmentTerms">{{item.name}}</option>
    </select></div>
  </div>

      <div class="row">
    <div class="col-sm-4">Target Delivery Date</div>
    <div class="col-sm-8"> 
      <input formControlName="deliveryDate" [owlDateTime]="deliveryDate" [owlDateTimeTrigger]="deliveryDate" placeholder="Date Time" class="form-control mt-3">
      <owl-date-time #deliveryDate></owl-date-time>
     <!-- <input type="text" class="form-control mt-3" placeholder="delivery date" required="" autofocus="" formControlName="deliveryDate"> -->
      </div>
  </div>
   

</div>


<div  class="col-sm-6 rightdiv">
    <div class="row">
    <div class="col-sm-3">Status</div>
    <div class="col-sm-8">  <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="status" value="OPEN" disabled="true">  </div>
  </div>

    <div class="row">
    <div class="col-sm-3">CreatedOn</div>
    <div class="col-sm-8">   <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="createdOn" value="{{createdOn}}" disabled="true">  </div>
  </div>

  <div class="row">
    <div class="col-sm-3">CreatedBy</div>
    <div class="col-sm-8">  <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="createdBy" value="{{createdBy}}" disabled="true">  </div>
  </div>

    <div class="row">
    <div class="col-sm-3">UpdateOn</div>
    <div class="col-sm-8"><input type="text" class="form-control mt-3" required="" autofocus="" formControlName="updatedOn" value="--" disabled="true">  </div>
  </div>

    <div class="row">
    <div class="col-sm-3">UpdateBy</div>
    <div class="col-sm-8"> <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="updatedBy" value="--" disabled="true"> </div>
  </div>


    <div class="row">
    <div class="col-sm-3">Quoted Delivery Date</div>
    <div class="col-sm-8"> 
       <input [owlDateTime]="quoteddeliveryDate" class="form-control mt-3" [owlDateTimeTrigger]="quoteddeliveryDate" placeholder="Date Time" formControlName="quoteddeliveryDate" readonly>
      <owl-date-time #quoteddeliveryDate disabled="true"></owl-date-time>
   </div>
  </div>

      <br/>

<!--   <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3"><a [routerLink]="['/buyer/rfq']">View RFQ's</a></div>
    <div class="col-sm-6"><button type="button" class="btn btn-primary" (click)="createRfq()">Update RFQ</button></div>
  </div> -->
      
      
</div>

 <!-- <textarea type="textarea" class="form-control mt-3 col-sm-12 " required="" autofocus="" formControlName="comment" cols="20" rows="5"></textarea> -->

    
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-10"> <button type="button" class="btn btn-primary" (click)="addItem()" style="float: right;
    margin-right: -525px;">Add</button></div>
</div>

<div class="col-sm-12 itemlist">
 
<!--<hr>-->
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="greyTd">S. No</th>
      <th class="greyTd">Item Code</th>
      <th class="greyTd">Item Name</th>
      <th class="greyTd">UOM</th>
      <th class="greyTd">Qty</th>
      <th class="greyTd">Target Price</th>
      <th class="greyTd">Quoted Price</th>
      <th class="greyTd">Value</th>
      <th class="greyTd">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="totalitems?.length===0">
      No items added Yet!.
    </tr>

    <tr *ngFor="let item of totalitems; let i=index">
      <td>{{i+1}}.</td>
      <td>{{item.itemcode}}</td> 
      <td>{{item.itemname}}</td> 
      <td>{{item.uom}}</td>
      <td>{{item.qty}}</td>
      <td>{{item.buyerprice}}</td>
      <td><input type="text" name="" value="{{item.vendorprice}}" disabled="true"></td> 
      <td>{{item.qty*item.buyerprice}}</td>
      <td><button type="button" class="btn btn-primary" (click)="edit(item,i)">Edit</button></td>
      <td>
        <!--<span class="glyphicon glyphicon-menu-right"> </span>-->
        <a href="#">
          <!--<span class="glyphicon glyphicon-menu-right"></span>-->
        </a>
        <img src="../../assets/images/delete.png" class="clsDelete" (click)="deleteItem(item,i);">
      </td>
    </tr>
    </tbody>
  </table>

</div>

<div class="col-sm-3">Comment</div>
 <textarea type="textarea" class="form-control mt-3 col-sm-12 " required="" autofocus="" formControlName="comment" cols="20" rows="5"></textarea>
 
</div>




 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <button type="button" class="close" (click)="close()">&times;</button> -->
      </div>

  <form class="form-signin card" [formGroup]="itemForm">

  <div class="row">
    <div class="col-sm-3">Item Name</div>
    <div class="col-sm-8"> <select formControlName="itemname" class="form-control mt-3" (change)="chooseItem($event)">
        <option value="select" selected="selected">Select</option>
        <option value="{{item.code}}" *ngFor="let item of items">{{item.name}}</option>
      </select>
       <div class="small" *ngIf="!itemForm.controls['itemname'].valid&&itemForm.controls['itemname'].dirty">
        <span *ngIf="itemForm.controls['itemname'].errors['required']" class="small redlabe text-danger">Party Type cannot be left blank</span>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-3">Item Code</div>
    <div class="col-sm-8">  <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="itemcode" disabled="true"> </div>
  </div>


   <div class="row">
    <div class="col-sm-3">UOM</div>
    <div class="col-sm-8"><input type="text" class="form-control mt-3" required="" autofocus="" formControlName="uom" disabled="true"> </div>
  </div>


   <div class="row">
    <div class="col-sm-3">Quantity</div>
    <div class="col-sm-8"><label for="inputEmail" class="sr-only">Qty</label>
      <input type="text" class="form-control mt-3" placeholder="Qty" required="" autofocus="" formControlName="qty">
      <div class="small" *ngIf="!itemForm.controls['qty'].valid&&itemForm.controls['qty'].dirty" class="redlabe">
        <span *ngIf="itemForm.controls['qty'].errors['required']" class="small redlabe text-danger">qty cannot be left blank</span>
      </div></div>
  </div>


   <div class="row">
    <div class="col-sm-3">Target Price</div>
    <div class="col-sm-8">   <label for="inputEmail" class="sr-only">Target Price</label>
      <input type="text" class="form-control mt-3" placeholder="Buyer Price" required="" autofocus="" formControlName="buyerprice">
      <div class="small" *ngIf="!itemForm.controls['buyerprice'].valid&&itemForm.controls['buyerprice'].dirty" class="redlabe">
        <span *ngIf="itemForm.controls['buyerprice'].errors['required']" class="small redlabe text-danger">qty cannot be left blank</span>
      </div></div>
  </div>


   <div class="row">
    <div class="col-sm-3">Quoted Price</div>
    <div class="col-sm-8"><input type="text" class="form-control mt-3" required="" autofocus="" formControlName="vendorprice" value="0" disabled="true"> </div>
  </div>
     
 <div class="row">
    <div class="col-sm-3">Total Price</div>
    <div class="col-sm-8"><input type="text" class="form-control mt-3" required="" autofocus="" formControlName="value" value="" disabled="true" (keydown)="totalVlaue()"></div>
  </div>
   </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveItem()" *ngIf="!updateButton">Save</button>
          <button type="button" class="btn btn-primary" (click)="updateItem()" *ngIf="updateButton">Update</button>
        </div>
      </div>
      
    </div>
  </div>
  
