
<div class="row">
  <div class="col-sm-3"> <h4>My Class Data</h4></div>
  <div class="col-sm-3"></div>
  <!-- <div class="col-sm-3"></div> -->
  <div class="col-sm-6">
    <button type="button" class="btn btn-success" (click)="back()" style="float: right">Back</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success" (click)="addImage()" >Add Image</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success" (click)="addPDF()" >Add PDF</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success" (click)="addVideo()" >Add Video Link</button>
  </div>
</div>
<br>


<h3>Videos</h3>
<div class="col-sm-12 listDetailsBox">
<!--<hr>-->
  <table class="table table-hover">
    <thead>
    <tr>
      <!-- <th class="greyTd">#</th> -->
      <th class="greyTd">Youtube Link</th>
      <th class="greyTd">Video</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="videos?.length===0">
      No video's listed Yet!.
    </tr>

    <tr *ngFor="let item of videos; let i=index">
      <!-- <td>{{i+1}}</td> -->
      <td><a href="{{item.link}}" target="_blank">{{item.link ? item.link : '--'}}</a></td>
      <td>
     <iframe width="100%" height="150" [src]='sanitizer.bypassSecurityTrustResourceUrl(item.link)' width="300" height="150" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
      </td>
      <td>
       <img src="../../assets/images/delete.png" class="clsDelete" (click)="deleteSubject(item,i);">&nbsp;&nbsp;
      </td>
    </tr>
    </tbody>
  </table>

</div>


<h3>Images</h3>
<div class="col-sm-12 listDetailsBox">
<!--<hr>-->
  <table class="table table-hover">
    <thead>
    <tr>
      <!-- <th class="greyTd">#</th> -->
      <th class="greyTd">Link</th>
      <th class="greyTd">Video</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="images?.length===0">
      No images's listed Yet!.
    </tr>

    <tr *ngFor="let item of images; let i=index">
      <!-- <td>{{i+1}}</td> -->
      <td><a href="{{item.link}}" target="_blank">{{item.link ? item.link : '--'}}</a></td>
      <td>
        <img [src]='sanitizer.bypassSecurityTrustResourceUrl(item.link)' style="height: 20%;width: 50%" />
    <!--  <iframe width="100%" height="150" [src]='sanitizer.bypassSecurityTrustResourceUrl(item.link)' width="300" height="150" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe> -->

      </td>
      <td>
       <img src="../../assets/images/delete.png" class="clsDelete" (click)="deleteSubject(item,i);">&nbsp;&nbsp;
      </td>
    </tr>
    </tbody>
  </table>

</div>





<div class="modal fade" id="addImage" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add Image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <input type="file" name="upload Image" accept="image/*" (change)="changeListener($event)">

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveImage()">Upload Image</button>
        </div>
      </div>
      
    </div>
  </div>


 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add Video</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <button type="button" class="close" (click)="close()">&times;</button> -->
      </div>

  <form class="form-signin card" [formGroup]="videoForm">

   <div class="row">
    <div class="col-sm-3">VideoLink<span class="mandatory_labl">*</span></div>
    <div class="col-sm-8">  <input type="text" class="form-control mt-3" required="" autofocus="" formControlName="link"> </div>
  </div>

  <br>
   </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveVideo()">Save</button>
        </div>
      </div>
      
    </div>
  </div>